%tr
  %th Number
  %th
    Type
    %span (Business delivery; Finance/Efficiency; People/Capability)
  %th
    Objective/What
    %span you will be held account to deliver
  %th
    How
    %span to include steps to take to achieve the ‘what’, including the skills, knowledge, behaviours, values and competencies required
  %th
    Deliverable
    %span what is being produced (output) and/or what is being achieved (outcome)
  %th
    Measures/Target
    %span how is achievement of the objective being measured
