%h1 Performance Agreements

%h2 Your profile
= render partial: 'profiles/profile', locals: { editable: true }

%h2 Your performance agreements
= render 'reports/your_reports'

%p
%p
  = link_to('Create new performance agreement', new_agreement_path)

= render 'reports/employee_reports'