@import "colours";

h1 {
  margin: 30px 0;
  border-bottom: 1px solid $black;
}

table.reports {
  a {
    margin-right: 15px;
  }
}

form {
  th {
    text-align: center;

    span {
      display: inline-block;
      font-weight: normal;
    }
  }
  td.number {
    width: 30px;
    text-align: center;
    font-weight: bold;
    vertical-align: top;
  }

  td.what, td.how {
    width: 50%;
  }

  textarea {
    width: 95%;
    height: 105px;
    padding: 8px;
  }

  .dev-needs {
    margin-top: 3em;
  }

  .objective-row-1, .development-row-1 {
    .control-column a {
      display: none;
    }
  }

  tbody tr {
    border-bottom: none;

    td {
      border-bottom: none;
      margin-bottom: 1em;
    }

    &.even {
      background: $grey-3;
    }
  }

  td.dev-need {
    width: 80%;
  }
}

.save-button-bar {
  border-top: 1px solid $grey-2;
  padding-top: 1em;
}

.smart-objectives-controls {
  margin-top: 1em;
}

#log-in-out {
  form, div {
    display: inline-block;
  }
}
