%h1 Performance Management Reports

%h2 Your profile
= render partial: 'profiles/profile', locals: { editable: true }

%h2 Your performance reports
= render 'your_reports'

%p= link_to('Create new performance report', new_report_path)

= render 'employee_reports'
